@model Services.DTO.RegistrationPeriods.CreateRegistrationPeriodsRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateRegistrationPeriodsRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationStart" class="control-label"></label>
                <input asp-for="RegistrationStart" class="form-control" />
                <span asp-validation-for="RegistrationStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationEnd" class="control-label"></label>
                <input asp-for="RegistrationEnd" class="form-control" />
                <span asp-validation-for="RegistrationEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Training_Facility_Code" class="control-label"></label>
                <input asp-for="User_Training_Facility_Code" class="form-control" />
                <span asp-validation-for="User_Training_Facility_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedAt" class="control-label"></label>
                <input asp-for="ModifiedAt" class="form-control" />
                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Opening_registration" /> @Html.DisplayNameFor(model => model.Is_Opening_registration)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
